{% extends "base.html.twig" %}


{% block title %}
	Modification de
	{{category.name}}
{% endblock %}


{% block body %}
	<h1>
		Modifier la catégorie
		{{category.name}}
	</h1>
	{{form_start(formView)}}
	<div class="row">
		<div class="col">
			{{form_row(formView.name)}}
		</div>
		<div class="col">
			{{form_row(formView.slug)}}
		</div>
	</div>

	<button type="submit" class="btn btn-primary mt-2">
		Modifier la category
	</button>

	<button type="submit" class="btn btn-danger mt-2">
		Supprimer la catégorie
	</button>


	{{form_end(formView)}}
{% endblock %}
