{% extends "base.html.twig" %}

{% block title %}
	Payer Votre commande avec Stripe
{% endblock %}

{% block body %}
	<h1>
		Payer Votre commande avec Stripe
	</h1>

	<p>
		Total de votre panier :
		{{ purchase.total / 100  }}
		&#8364;
	</p>
	<form id="payment-form">
		<div
			id="link-authentication-element"><!--Stripe.js injects the Link Authentication Element-->
		</div>
		<div
			id="payment-element"><!--Stripe.js injects the Payment Element-->
		</div>
		<button id="submit">
			<div class="spinner hidden" id="spinner"></div>
			<span id="button-text">Payer avec stripe</span>
		</button>
		<div id="payment-message" class="hidden"></div>
	</form>
{% endblock %}


{% block javascripts %}
	{# Parent c'est pour appeler les sciprts qui existent deja sans les ecrasés #}
	{{ parent() }}
	<script src="https://js.stripe.com/v3/"></script>
	<script>
		// On récupère la clé secrète passé par le controller à TWIG, comme présenté dans la vidéo
const clientSecret = "{{ clientSecret }}";
const stripePublicKey = '{{ publicKey }}'
const redirectAfterSuccessUrl = '{{ url('purchase_payment_success', {'id': purchase.id}) }}';
	</script>
	<script src="/js/payment.js"></script>

{% endblock %}
